<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjt.mapper.AnnouncesMapper">

    <select id="managerGet" resultType="com.cjt.entity.Announces">
        select * from announces where clubId = 0 ORDER BY announceId DESC
    </select>


    <select id="clubpage" resultType="com.cjt.entity.Announces">
        SELECT * FROM announces where clubId = #{clubsId} ORDER BY announceId DESC
    </select>

    <insert id="managerInsert">
        insert announces(announcetitle,announcecontent,announceTime,clubId) values (#{announcetitle},#{announcecontent},NOW(),0)
    </insert>

    <select id="clubGet" resultType="com.cjt.entity.Announces">
        select * from announces a,clubs c where a.clubId=c.clubsId and a.clubId = #{clubsId} ORDER BY announceId DESC
    </select>

    <insert id="clubInsert">
        insert announces(announcetitle,announcecontent,announceTime,clubId) values (#{announcetitle},#{announcecontent},NOW(),#{clubId})
    </insert>

    <select id="query" resultType="String">
        select announcecontent from announces where announceId = #{announceId}
    </select>

    <select id="queryTitle" resultType="com.cjt.entity.Announces">
        select * from announces where clubId =#{clubsId} and announcetitle like CONCAT('%',#{announcetitle},'%')  order by announceId desc
    </select>

</mapper>
