<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjt.mapper.CarsMapper">

    <select id="page" resultType="com.cjt.entity.Cars">
          select * from cars c,book b where c.goodId = b.id  and c.userName = #{userName} ORDER BY c.carId DESC
    </select>
</mapper>
